<div class="left">
  <div class="top-left">
    <div class="logo">
      <img src="../images/set/nlogo-transformed.png" alt="">
    </div>
    <div class="menus">
      <div class="menu">
        <a id="dash" href="/dashboard">
          <i id="dash" class="ri-dashboard-fill"></i>
        </a>
      </div>
      <div class="menu">
        <a id="board" href="/board">
          <i id="board" class="ri-table-fill"></i>
        </a>
      </div>
      <div class="menu">
        <a href="/discussion">
        <i id="chat" class="ri-message-3-fill"></i>
      </a>
      </div>
      <div class="menu">
        <a href="/text-to-speech">
        <i id="tts" class="ri-volume-up-fill"></i>
      </a>
      </div>
    </div>
  </div>
  <div class="logout menu-log">
    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=lokeshdhakaryt97@gmail.com" target="_blank">
      <i class="ri-question-fill"></i>
    </a>
    <a href="/logout">
    <i class="ri-logout-box-r-fill"></i>
    </a>
  </div>
</div>