<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Easy Task</title>
    <link rel="shortcut icon" href="../images/set/nlogo-transformed.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="hero-section">
        <div class="left home-menu-left">
            <div class="top-left">
              <div class="logo">
                <img src="../images/set/nlogo-transformed.png" alt="">
              </div>
              <div class="menus">
                <div class="menu">
                  <a id="dash" href="/">
                    <i id="dash" class="ri-home-smile-2-fill"></i>
                  </a>
                </div>
                <div class="menu">
                  <a id="board" href="/#steps">
                    <i id="board" class="ri-walk-fill"></i>
                  </a>
                </div>
                <div class="menu">
                  <a href="/#feature">
                  <i class="ri-apps-fill"></i>
                </a>
                </div>
                <div class="menu">
                  <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=lokeshdhakaryt97@gmail.com" target="_blank">
                    <i class="ri-question-fill"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="logout">
              <button class = "ask-button"> Sign Up</button>
              <button> <a href="/login">LogIn</a></button>
            </div>
          </div>
            <div class="right">
               <div class="ask-regis">
                <div class="cnt-ask">
                  <i class="ri-close-circle-fill close-ask"></i>
                <div class="left-ask">
                  <h1>Who are you ?</h1>
                  <div class="left-ask-button">
                    <button> <a href="/signup">Team Manager</a></button>
                    <button> <a href="/signup-member">Team Member</a></button>
                  </div>
                </div>
                <img src="../images/set/questionfinal.png" alt="">
              </div>

                <div class="right-ask"></div>
              </div>
                <div class="intro-home">
                    <div class="home-top">
                        <div class="wlc-txt">
                            <h2>Welcome to <span>Easy Task</span></h2>
                            <h1>Manage your project and team work with easy steps.</h1>
                            <p>A solution where geeks do care about the customer product,<br> create with the love and track the moment of the superhero.</p>
                            <button  class="ask-button">Get Started</button>
                        </div>
                        <img src="../images/set/12281509_4942219-removebg-preview.png" alt="">
                    </div>
                    <div class="dash-pic">
                      <img src="../images/set/dash-pic.png" alt="">
                    </div>
                    <div class="all-steps" id="steps">
                      <div class="steps" >
                        <div class="step">
                          <div class="step-txt">
                          <h3>01. Create Account</h3>
                          <p>Create your newly account by filliing some basic information.</p>
                        </div>
                        </div>
                        <div class="step">
                           <div class="step-txt">
                          <h3>02. Project Details</h3>
                          <p>Give the details of your working project with deadline.</p>
                        </div>
                        </div>
                        <div class="step">
                           <div class="step-txt">
                          <h3>03. Add Team</h3>
                          <p>Add member into your team with the help of gmail id.</p>
                        </div>
                        </div>
                        <div class="step">
                           <div class="step-txt">
                          <h3>05. Assign Task</h3>
                          <p>Assign the task to your team member in board.</p>
                        </div>
                        </div>
                        <div class="step">
                           <div class="step-txt">
                          <h3>05. Ready</h3>
                          <p>Now enjoy the task while tracking the updates and task.</p>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="show-feature" id="feature">
                      <div class="sf-heading">
                          <h2>You Will Get These <span>Newly Features</span> </h2>
                      </div>
                      <div class="list-feature">
                        <div class="lf-name">
                            <div class="lf-name-div">
                              <h3>Task Board</h3>
                            </div>
                            <div class="lf-name-div">
                              <h3>Voice Updates</h3>
                            </div>
                        </div>
                        <div class="lf-name">
                          <div class="lf-name-div">
                            <h3>Unlimited Teammates</h3>
                          </div>
                          <div class="lf-name-div">
                            <h3>Scheduled Meeting</h3>
                          </div>
                        </div>
                        <div class="lf-name">
                          <div class="lf-name-div">
                            <h3>Quick Updates</h3>
                          </div>
                          <div class="lf-name-div">
                            <h3>Email Report</h3>
                          </div>
                        </div>
                        <div class="feature-clr">
                          <img src="../images/set/26012434_139-removebg-preview.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="last-div" id="last-div">
                      <div class="last-div-parts">
                      <img src="../images/set/nlogo-transformed.png" alt="">
                      </div>
                      <div class="last-div-parts">
                        <h1><%=obj.user%></h1>
                        <h3>User</h3>
                      </div>
                      <div class="last-div-parts">
                        <h1><%=obj.project%></h1>
                        <h3>Project</h3>
                      </div>
                      <div class="last-div-parts">
                        <h1>4.5</h1>
                        <h3>Rating</h3>
                      </div>
                    </div>
                </div>

            </div>
    </div>        
</body>

<script>
  document.querySelectorAll('.ask-button').forEach((elem)=>{
    elem.addEventListener('click', ()=>{
        document.querySelector('.ask-regis').style.display = "flex";
        document.querySelector('.ask-regis').style.opacity = "1";
        
    });
  });
  document.querySelector('.close-ask').addEventListener('click', ()=>{
    document.querySelector('.ask-regis').style.display = "none";
    document.querySelector('.ask-regis').style.opacity = "0";
    
  });

</script>

</html>