<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Easy Task</title>
    <link rel="shortcut icon" href="../images/set/nlogo-transformed.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="hero-section">
        <div class="left home-menu-left">
            <div class="top-left">
              <div class="logo">
                <img src="../images/set/nlogo-transformed.png" alt="">
              </div>
              <div class="menus">
                <div class="menu">
                  <a id="dash" href="/">
                    <i id="dash" class="ri-home-smile-2-fill"></i>
                  </a>
                </div>
                <div class="menu">
                  <a id="board" href="/#steps">
                    <i id="board" class="ri-walk-fill"></i>
                  </a>
                </div>
                <div class="menu">
                  <a href="/#feature">
                  <i class="ri-apps-fill"></i>
                </a>
                </div>
                <div class="menu">
                  <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=lokeshdhakaryt97@gmail.com" target="_blank">
                    <i class="ri-question-fill"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="logout">
              <!-- <button> <a href="/signup">Sign Up</a> </button> -->
              <button class = "ask-button"> Sign Up</button>
              <button> <a href="/login">LogIn</a> </button>
            </div>
          </div>
            <div class="right">
              <div class="ask-regis">
                <div class="cnt-ask">
                  <i class="ri-close-circle-fill close-ask"></i>
                <div class="left-ask">
                  <h1>Who are you ?</h1>
                  <div class="left-ask-button">
                    <button> <a href="/signup">Team Manager</a></button>
                    <button> <a href="/signup-member">Team Member</a></button>
                  </div>
                </div>
                <img src="../images/set/questionfinal.png" alt="">
              </div>

                <div class="right-ask"></div>
              </div>
                <div class="sign-full">
                    <div class="left-sign">
                      <form action="/login" method="post">
                        <div class="sign-txt">
                          <h6>Welcome Back.</h6>
                          <h1>Login Your Account.</h1>
                          <button type="button" style="padding: 0px; background-color: transparent; color: black" class = "ask-button"> Don't have an account ? <span style="color: rgb(12, 154, 210);">Sign Up</span></button>
                          <div class="sign-field">
                            <input type="text" name="username" id="" placeholder="Username">
                            <i class="ri-user-heart-fill"></i>
                          </div>
                          <div class="sign-field">
                            <input type="password" name="password" id="" placeholder="Password">
                            <i class="ri-lock-password-fill"></i>
                          </div>
                          <button type="submit">Log In</button>
                      </div>
                      </form>
                    </div>
                    <div class="right-sign small">
                        <img src="../images/set/loginimg.png" alt="">
                    </div>
                </div>
            </div>
    </div>        
</body>
<script>
    document.querySelectorAll('.ask-button').forEach((elem)=>{
    elem.addEventListener('click', ()=>{
        document.querySelector('.ask-regis').style.display = "flex";
        document.querySelector('.ask-regis').style.opacity = "1";
        
    });
  });
  document.querySelector('.close-ask').addEventListener('click', ()=>{
    document.querySelector('.ask-regis').style.display = "none";
    document.querySelector('.ask-regis').style.opacity = "0";
    
  });
</script>
</html>